

.item-tile:hover {
    transform: translateY(-4px);
}

.tile-chip {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    opacity: 0.85;
    background-color: #222236;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
}

.tile-image {
    height: 100%;
    width: auto;
}

.tile-image-wrapper {
    height: 100%;
    width: auto;
}

.tile-info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: #000;
    color: #fff;
    width: 100%;
    opacity: .85;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.tile-info-price {
    font-size: 12px;
    display: flex;
    align-items: center;
}